In [81]:
import pandas as pd
import numpy as np

df = pd.read_excel('JSTdatasetR6.xlsx')
#df.groupby('year')
#df.first

data2020 = df.groupby(['year']).get_group(2020)

/var/folders/0s/0yq8vr3x7v7dppjl4f_k7w440000gn/T/ipykernel_54427/1415873841.py:8: FutureWarning: When grouping with a length-1 list-like, you will need to pass a length-1 tuple to get_group in a future version of pandas. Pass `(name,)` instead of `name` to silence this warning.
  data2020 = df.groupby(['year']).get_group(2020)

In [82]:
df.insert(1, 'inflation', df['cpi'].pct_change())
df

/var/folders/0s/0yq8vr3x7v7dppjl4f_k7w440000gn/T/ipykernel_54427/3061264919.py:1: FutureWarning: The default fill_method='pad' in Series.pct_change is deprecated and will be removed in a future version. Either fill in any non-leading NA values prior to calling pct_change or specify 'fill_method=None' to not fill NA values.
  df.insert(1, 'inflation', df['cpi'].pct_change())

,year,inflation,country,iso,ifs,pop,rgdpmad,rgdpbarro,rconsbarro,gdp,...,eq_capgain,eq_dp,eq_capgain_interp,eq_tr_interp,eq_dp_interp,bond_rate,eq_div_rtn,capital_tr,risky_tr,safe_tr
0,1870,NaN,Australia,AUS,193,1775.000000,3273.239437,13.836157,21.449734,208.78,...,-0.070045,0.071417,NaN,NaN,NaN,0.049118,0.066415,NaN,NaN,NaN
1,1871,-0.015384,Australia,AUS,193,1675.000000,3298.507463,13.936864,19.930801,211.56,...,0.041654,0.065466,NaN,NaN,NaN,0.048446,0.068193,NaN,NaN,NaN
2,1872,-0.046875,Australia,AUS,193,1722.000000,3553.426249,15.044247,21.085006,227.40,...,0.108945,0.062997,NaN,NaN,NaN,0.047373,0.069861,NaN,NaN,NaN
3,1873,0.000000,Australia,AUS,193,1769.000000,3823.629169,16.219443,23.254910,266.54,...,0.083086,0.064484,NaN,NaN,NaN,0.046720,0.069842,NaN,NaN,NaN
4,1874,0.049180,Australia,AUS,193,1822.000000,3834.796926,16.268228,23.458050,287.58,...,0.119389,0.063503,NaN,NaN,NaN,0.046533,0.071085,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2713,2016,0.012898,USA,USA,111,322701.246359,33012.767871,108.756035,108.051774,18695.10,...,0.014868,0.021309,NaN,NaN,NaN,0.018417,0.021626,0.048536,0.067177,0.003139
2714,2017,0.021505,USA,USA,111,324756.935396,33543.679862,110.591099,109.978043,19479.60,...,0.170363,0.019363,NaN,NaN,NaN,0.023300,0.022662,0.121381,0.160881,0.017584
2715,2018,0.024377,USA,USA,111,326497.132575,34338.770756,113.306861,112.567306,20527.20,...,0.121093,0.018716,NaN,NaN,NaN,0.029100,0.020982,0.092210,0.129585,0.000581
2716,2019,0.018118,USA,USA,111,328018.681916,34961.835051,115.229692,114.509455,21372.60,...,0.061144,0.019312,NaN,NaN,NaN,0.021442,0.020492,0.080606,0.084776,0.070134
2717,2020,0.012483,USA,USA,111,329239.715278,33646.261755,110.823049,109.793166,20893.70,...,0.105064,0.018361,NaN,NaN,NaN,0.008942,0.020290,0.106476,0.124902,0.061228

In [83]:
df.groupby('country')[['unemp','inflation']].corr()

                          unemp  inflation
country
Australia   unemp      1.000000  -0.308970
            inflation -0.308970   1.000000
Belgium     unemp      1.000000  -0.243626
            inflation -0.243626   1.000000
Canada      unemp      1.000000  -0.311798
            inflation -0.311798   1.000000
Denmark     unemp      1.000000   0.089910
            inflation  0.089910   1.000000
Finland     unemp      1.000000  -0.317721
            inflation -0.317721   1.000000
France      unemp      1.000000  -0.372163
            inflation -0.372163   1.000000
Germany     unemp      1.000000  -0.001005
            inflation -0.001005   1.000000
Ireland     unemp      1.000000  -0.044334
            inflation -0.044334   1.000000
Italy       unemp      1.000000  -0.020651
            inflation -0.020651   1.000000
Japan       unemp      1.000000  -0.414206
            inflation -0.414206   1.000000
Netherlands unemp      1.000000  -0.104678
            inflation -0.104678   1.000000
Norway      unemp      1.000000  -0.505113
            inflation -0.505113   1.000000
Portugal    unemp      1.000000   0.000347
            inflation  0.000347   1.000000
Spain       unemp      1.000000  -0.339206
            inflation -0.339206   1.000000
Sweden      unemp      1.000000  -0.458034
            inflation -0.458034   1.000000
Switzerland unemp      1.000000  -0.434671
            inflation -0.434671   1.000000
UK          unemp      1.000000  -0.158459
            inflation -0.158459   1.000000
USA         unemp      1.000000  -0.403292
            inflation -0.403292   1.000000